---
const { remainingposts } = Astro.props;
---

{
  remainingposts.length > 0 && (
    <div class="md:col-span-1 md:overflow-x-hidden md:max-h-[70vh] overflow-y-visible ">
      {remainingposts.map((post: any) => (
        <a
          class="block m-1 p-2 border rounded-lg hover:bg-gray-100"
          href={`/${post.collection}/${post.slug}/`}
        >
          <div class="flex md:flex-wrap items-start space-x-4">
            <img
              class="w-[100px] h-[100px]  md:w-[220px] md:h-[220px]  md:mx-auto object-cover rounded-lg"
              src={"../" + post.data.image}
              alt={post.data.title}
            />
            <div class="w-80 max-h-[6rem] overflow-hidden">
              <h2 class="text-xl md:text-lg font-semibold overflow-hidden text-ellipsis">
                {post.data.title}
              </h2>
              <p class="text-gray-600  text-ellipsis">
                {post.data.description}
              </p>
            </div>
          </div>
        </a>
      ))}
    </div>
  )
}
