---
const { remainingposts } = Astro.props;
---

{
  remainingposts.length > 0 && (
    <div class="col-span-1 overflow-y-auto">
      {remainingposts.map((post: any) => (
        <a
          class="block m-1 p-2 border rounded-lg hover:bg-gray-100"
          href={`/${post.collection}/${post.slug}/`}
        >
          <div class="flex items-start space-x-4">
            <img
              class="w-[220px] h-[220px] object-cover rounded-lg"
              src={post.data.image}
              alt={post.data.title}
            />
            <div>
              <h2 class="text-lg font-semibold overflow-hidden text-ellipsis">
                {post.data.title}
              </h2>
              <p class="text-gray-600 overflow-hidden text-ellipsis">
                {post.data.description}
              </p>
            </div>
          </div>
        </a>
      ))}
    </div>
  )
}
