---
import { fade } from "astro:transitions";
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import ArticleUi from "../components/navigation_ui/ArticleUi.astro";

interface Props {
  post?: any;
}

const { post } = Astro.props;
---

<!doctype html>
<html>
  <head>
    <BaseHead
      title={post.data.title}
      description={post.data.description}
      image={post.data.image}
    />
    <ViewTransitions />
  </head>
  <body class="sm:px-96 md:px-14">
    <ArticleUi />
    <main transition:animate={fade({ duration: "0.25s" })}>
      {
        post ? (
          <div class="my-10 flex flex-col items-center">
            {post.data.image && (
              <img
                src={"/" + post.data.image}
                alt={post.data.title}
                class="max-w-[80vw] max-h-[30vh] h-auto rounded-lg mb-6 object-cover"
              />
            )}
            <article class="max-w-4xl mx-auto border rounded-xl border-gray-300 p-6 bg-white mt-10 shadow-md mt-10">
              <header class="mb-4">
                <h1 class="text-4xl font-bold text-gray-800">
                  {post.data.title}
                </h1>
                <p class="text-sm text-gray-500 mt-2">{post.data.date}</p>
              </header>
              <div class="prose prose-lg text-gray-700 leading-relaxed">
                {post.body}
              </div>
            </article>
          </div>
        ) : (
          <div class="max-w-4xl mx-auto p-6 bg-white shadow-md rounded-lg mt-10">
            <p class="text-xl text-gray-800">
              Sorry, the post you're looking for doesn't exist.
            </p>
          </div>
        )
      }
    </main>
  </body>
</html>
